body {
    padding-top: 30px;
    /*    background-color: #B6D7F2;*/
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.reward-font {
    font-family: 'Handlee', cursive;
    font-size: 40px;
    color: #B5022F;
    font-weight: bold;
}
.game-title {
    font-family: 'Handlee', cursive;
    font-size: 45px;
    color: white;
    font-weight: bold;
}
.question {
    font-family: 'Handlee', cursive;
    font-size: 18em;
    color: #FFFFFF;
}
.apple {
    width: 50px;
    height: 50px;
}
.apple-lives {
    margin-right: 5px;
}
.counting-object {
    width: 50x;
    height: 50px;
}
.blackboard {
    /*    background-color:#1F631F;*/
    background-image: url("../images/blackboard.jpg");
    background-size: cover;
    border-width: 10px;
    border-style: solid;
    border-color: #4E0D0D;
    border-radius: 15px;
}
/*
.blackboard {
    background-image: url("images/blackboard.jpg");
    background-size: cover;
}*/

.blackboard-outer {
    background-color: transparent;
    border-width: 0px;
}
.answer-row {
    padding-top: 10px;
}
@media (max-width: 768px) {
    .apple {
        width: 25px;
        height: 25px;
    }
    .game-title {
        font-family: 'Handlee', cursive;
        font-size: 23px;
        color: black;
        font-weight: bold;
    }
    .reward-font {
        font-family: 'Handlee', cursive;
        font-size: 23px;
        color: #B5022F;
        font-weight: bold;
    }
    .blackboard {
        border-width: 5px;
        border-radius: 7px;
        margin-top: 10px;
    }
    .question {
        font-size: 5em;
    }
}
.full-width {
    width: 90%;
}